:root {
    --bg-color: #EFF0F6;
    --border-color: #D7D7F9;
    --primary: #6B00F5;
    --patterns-blue: #e1f1fe;
    --pale-rose: #ffe2f0;
    --ghost-white: #f7f7fe;
    --white-ice: #defef0;
  }

.app-bg
{
    position: absolute;
    width: 1927.74px;
    height: 1553.82px;
    left: -248px;
    top: -321.76px;
    background: var(--bg-color);
}

.app-bg-gadget-1 {
    position: absolute;
    width: 496px;
    height: 587.53px;
    left: -248px;
    top: 278px;

    opacity: 0.5;
}

.container {
    background: #FFFFFF;
    box-shadow: 0px 0px 70px #C7CBE3;
    border-radius: 25px;

    overflow-x: hidden;
    overflow-y: scroll;
}

.menu-item:last-child, .subtotal:last-child {
    margin-bottom: 24px;
}

.menu {
    position: absolute;
    width: 375px;
    height: 812px;
    left: 320px;
    top: 106px;
}

h1 {
    /* position: absolute; */
    width: 190px;
    height: 48px;
    /* left: 37.26px; */
    /* top: 49.1px; */
    margin-left: 38px;
    margin-top: 49px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;

    color: #000000;
}

.menu-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    /* position: absolute; */
    width: 387.15px;
    /* height: 556.03px; */
    /* left: 14.86px; */
    /* top: 117.37px; */
    margin-top: 20px;
    margin-left: 24px;
    /* margin-bottom: 24px; */
    /* overflow: scroll; */
    /* overflow-x: hidden; */
}

.menu-item {
    width: 382.93px;
    height: 178.63px;
    position: relative;
}

.menu-item-bg {
    position: absolute;
    width: 370.27px;
    height: 152.27px;
    left: 12.66px;
    top: 17.5px;
    
    border-radius: 20px;
}

.bg-blue {
    background: rgba(122, 179, 243, 0.2);
}

.bg-pink {
    background: rgba(233, 121, 178, 0.2);
}

.bg-white {
    background: rgba(215, 215, 249, 0.2);
}

.menu-item-image {
    position: absolute;
    width: 148.41px;
    height: 144.64px;
    left: 0px;
    top: 0px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.menu-item-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 158px;
    height: 136px;
    left: 168.92px;
    top: 42.63px;
}

.menu-item-name {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;

    color: #000000;
}

.menu-item-price {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
    margin-top: 16px;
    margin-bottom: 16px;

    color: #000000;
}

.menu-item-button {
    padding: 4px 18px;
    width: 130px;
    height: 32px;
    background: var(--primary);
    border-radius: 20px;

    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;

    text-align: center;

    color: #FFFFFF;
    
    display: inline-block;
    border: none;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
}

.in-cart-button {
    padding: 4px 18px;
    width: 130px;
    height: 32px;
    background: #000000;
    border-radius: 20px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;

    text-align: center;

    color: #FFFFFF;

    display: inline-block;
    border: none;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
}

.button-icon {
    width: 24px;
    height: 12px;
}

.cart {
    position: absolute;
    width: 375px;
    height: 812px;
    left: 745px;
    top: 106px;
}

.empty-cart {
    position: absolute;
    width: 149px;
    height: 24px;
    left: 37.07px;
    top: 126.43px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    text-align: center;

    color: #000000;
}

.cart-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    /* position: absolute; */
    width: 387.15px;
    /* height: 556.03px; */
    /* left: 14.86px; */
    /* top: 117.37px; */
    margin-top: 20px;
    margin-left: 24px;
}

.cart-item {
    /* position: absolute; */
    position: relative;
    width: 321.28px;
    height: 100.67px;
    /* margin-left: 24px; */
    /* margin-top: 24px; */

    border-bottom: 1px solid var(--border-color);
    padding-bottom: 24px;
    margin-bottom: 28px;
}

.cart-item:last-of-type {
    border-bottom: 5px solid var(--border-color);
}

.cart-item-image {
    /* position: absolute; */
    width: 64.46px;
    height: 62.82px;
    /* left: 24.72px; */
    /* top: 116.95px; */

    filter: drop-shadow(0px 5.02591px 5.02591px rgba(0, 0, 0, 0.25));
}

.cart-item-qty {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 16px;
    top: 16px;

    background: #000000;
    border-radius: 20px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;

    text-align: center;

    color: #FFFFFF;
}

.cart-item-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    
    position: absolute;
    width: 239px;
    height: 91.62px;
    left: 83px;
    top: 9px;
}

.cart-item-name {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;

    color: #000000;
}

.cart-item-price {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;

    color: #000000;
}

.cart-item-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

    position: static;
    width: 239px;
    height: 32px;
}

.cart-item-btn {
    display: flex;
    justify-content:center;
    align-items:center;
    width: 32px;
    height: 32px;
    left: 0px;
    top: 0px;

    background: var(--primary);
    border-radius: 20px;

    color: #FFFFFF;

    border: none;
    margin: 0;
    cursor: pointer;
}

.cart-item-btn:hover, .menu-item-button:hover {
    background: #000000;
}

.flip {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.cart-item-menu-qty {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;

    text-align: center;

    color: #000000;
}

.cart-item-total {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;

    text-align: right;

    color: #000000;
}

.subtotal {
    display: flex;
    justify-content: end;
    align-items: baseline;
    margin-right: 26px;
}

.label, .amount {
    display: inline-block;
    /* width: 24px; */
}

.label {
    width: 96px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    /* or 200% */

    text-align: right;

    color: #000000;
    margin-right: 20px;
}

.amount {
    width: 105px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
    /* identical to box height, or 100% */

    text-align: right;

    color: #000000;
}

.purple {
    color: var(--primary);
}