:root {
    --primary-color: #363DAA;
    --selected-arrow: #363DAA;
    --unselected-arrow: #DDE8F7;
    --border-color: #DDE8F7;
    --input-background: #EDF4F9;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: #000000;
}

/* .container {
    display: flex;
    justify-content: center;
} */

.id-cell {
    width: 80px;
    height: 23px;
    padding: 16px;
    /* background: #EDF4F9; */
}

.name-cell {
    width: 276px;
    height: 23px;
    padding: 16px;
    /* background: #EDF4F9; */
}

.email-cell {
    width: 434px;
    height: 23px;
    padding: 16px;
    /* background: #EDF4F9; */
}

.job-cell {
    width: 422px;
    height: 23px;
    padding: 16px;
    /* background: #EDF4F9; */
}

.icon-cell {
    width: 32px;
    height: 23px;
    padding: 16px;
    /* background: #EDF4F9; */
    cursor: pointer;
}

.bold-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;

    color: var(--primary-color);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-row {
    display: inline-flex;
    gap: 12px;
    padding: 8px 0;
    /* align-items: center; */
}

.rows {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: inline-flex;
    gap: 12px;
    padding: 8px 0;
    border-bottom: 2px solid #DDE8F7;
}

.row:first-of-type {
    border-top: 2px solid #3C3744;
}

.row:last-of-type {
    border-bottom: 2px solid #3C3744;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation-row {
    display: inline-flex;
    align-items: center;
    width: 1452px;
    gap: 12px;
    margin-top: 18px;
}

.results {
    flex-grow: 1;
}

.sort-header {
    display: flex;
    gap: 8px;
}

.sort {
    cursor: pointer;
}

.sort svg>path:nth-of-type(1) {
    fill: var(--unselected-arrow);
}

.sort svg>path:nth-of-type(2) {
    fill: var(--unselected-arrow);
}

.ascending svg>path:nth-of-type(1) {
    fill: var(--selected-arrow);
}

.ascending svg>path:nth-of-type(2) {
    fill: var(--unselected-arrow);
}

.descending svg>path:nth-of-type(1) {
    fill:var(--unselected-arrow);
}

.descending svg>path:nth-of-type(2) {
    fill: var(--selected-arrow);
}

.arrow {
    cursor: pointer;
}